<h1>Nim游戏</h1>

<div *ngIf="!gameRunning">
  <p>
    <mat-form-field appearance="standard">
      <mat-label>石子堆数量</mat-label>
      <input matInput placeholder="2" type="number" [(ngModel)]="stackCount" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard" *ngFor="let _ of stoneCount; index as i">
      <mat-label>第 {{ i + 1 }} 堆石子</mat-label>
      <input matInput placeholder="2" type="number" [(ngModel)]="stoneCount[i]" />
    </mat-form-field>
  </p>
  <p>
    <mat-button-toggle-group [(ngModel)]="isPvp">
      <mat-button-toggle [value]="false">人机对战</mat-button-toggle>
      <mat-button-toggle [value]="true">双人对战</mat-button-toggle>
    </mat-button-toggle-group>
  </p>

  <button mat-raised-button color="primary" (click)="start()">开始游戏</button>
</div>

<div *ngIf="gameRunning">
  <div *ngIf="!gameEnded">
    <div>
      {{ isPvp ? (isFirstPlayerTurn ? "玩家1" : "玩家2") : (isFirstPlayerTurn ? "玩家": "电脑") }} 的回合
    </div>
    <table>
      <tr>
        <td *ngFor="let _ of curStoneCount; index as i">第 {{i + 1}} 堆</td>
      </tr>
      <tr *ngFor="let i of stoneRange; index as ii">
        <td *ngFor="let j of curStoneCount; index as ji">
          <span *ngIf="j > i" class="stone-container"(click)="selectStone(i, ji)">
            <img src="assets/stone.png" />
            <mat-spinner mode="determinate" [color]="isFirstPlayerTurn ? 'primary' : 'accent'" [value]="isStoneSelected[ji][i] ? 100 : 0" [class]="{ 'transparency': hideCircle }"></mat-spinner>
          </span>
        </td>
      </tr>
    </table>
    <button mat-raised-button color="primary" (click)="nextStep()" *ngIf="isPvp || isFirstPlayerTurn">下一步</button>
  </div>
  <div *ngIf="gameEnded">
    游戏结束，{{ isPvp ? (isFirstPlayerTurn ? "玩家1" : "玩家2") : (isFirstPlayerTurn ? "玩家": "电脑") }} 获胜
  </div>

  <button mat-raised-button color="warn" (click)="gameRunning = false">结束游戏</button>
</div>
